:root {
  --font-min-size: 16px;
  --font-max-size: 32px;

  font-size: clamp(var(--font-min-size), 4vw, var(--font-max-size));
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;

  --accent-color: #244ae5;


  --text-main-color: #091237;
  --text-accent-color: var(--accent-color);
  --text-danger-80: hsl(0, 60%, 60%);

  --bg-accent-color: #e7e9f4;
  --bg-black-10: hsl(0, 0%, 93%);

  color: var(--text-main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  font-size: 1rem;
}

input {
  outline: none;
  border: none;
  background-color: var(--bg-black-10);
  font-size: inherit;
  border-radius: .5em;
  padding: .5em;
  transition: background-color .5s ease;
}

input:hover {
  background-color: var(--bg-accent-color);
}

input:focus {
  outline: 2px solid var(--accent-color);
  background-color: var(--bg-accent-color);
}

label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


button {
  border: none;
  font-size: inherit;
  padding: .5rem;
  border-radius: .5rem;
}

